@font-face {
  font-family: 'GothamRounded';
  src: url('./assets/fonts/GothamRounded-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRoundedBold';
  src: url('./assets/fonts/GothamRounded-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
