/* Body */
$body-bg: #f8fafc;

/* Typography */
$gotham: 'GothamRounded';
$gothamBold: 'GothamRoundedBold';
$font-size-base: 0.9rem;

/* Colors */
$mainColor: #4D2155;
$secondaryColor: #FACB54;
$secondaryDarkColor: #ffbc14;
$secondaryButtonColor: #808080;
$secondaryLightButtonColor: #b3b2b2;
$greyLink: black;
$greyLink-Hover: grey;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$lightRed: #e74e49;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$success-color: #98BF13;

/* Breaks */
$break-mobile: 320px;
$break-mobile-medium: 375px;
$break-mobile-large: 425px;
$break-tablet: 768px;
$break-desktop-minimum: 1024px;
$break-desktop-desktop: 1280px;
